.THIS .hoverColor {
    background-color : #1484CD;
    color : white;
}
.THIS .widthClass{
    width: -webkit-fill-available;
}
.THIS .sectionContainer{
    background: #f3f2f2;
    width: 100%;
}   
.THIS .sectionTitle{
    font-size: 20px;
    color : rgb(0,0,128);
}
.THIS .colClass{
    width: 40%;
}