<apex:page sidebar="false" standardcontroller="Account" extensions="AccountDetailController" showHeader="false" title="Account Tabs Panel" cache="false" standardStyleSheets="false"  applyBodyTag="true" applyHtmlTag="true" docType="html-5.0">
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <apex:slds /> 
    </head>
    
    <title>Account Detail</title>
    <Style> 
        .seprator {
            border-bottom: 1px solid rgb(221, 219, 218) !important;
        }
       
    </Style>
    <script>
        function sectionHideShow(section, collapseSection){
            var x = document.getElementById(section);
            if (x.style.display === "none") {
                document.getElementById(collapseSection).classList.remove('slds-is-close');
                document.getElementById(collapseSection).classList.add('slds-is-open');
                x.style.display = "block";
            } else {
                document.getElementById(collapseSection).classList.remove('slds-is-open');
                document.getElementById(collapseSection).classList.add('slds-is-close');
                x.style.display = "none";
            }
        }
        function closePopup() {
            document.getElementById("backdrop").classList.remove('slds-backdrop--open');
            document.getElementById("backdrop").classList.add('slds-backdrop--hide');
            document.getElementById("confirmationPopup").classList.remove('slds-fade-in-open');
            document.getElementById("confirmationPopup").classList.add('slds-fade-in-hide');
         }
         function confirmDeletion() {
            document.getElementById("backdrop").classList.remove('slds-backdrop--hide');
            document.getElementById("backdrop").classList.add('slds-backdrop--open');
            document.getElementById("confirmationPopup").classList.remove('slds-fade-in-hide');
            document.getElementById("confirmationPopup").classList.add('slds-fade-in-open');
         }
         function showErrorToastDetail(errorMessage1) {
            errorMessage1 = document.getElementById('errMsgSpanId').innerText;
            if(errorMessage1 != '') {
                document.getElementById("theErrorMessageForAll").innerText = errorMessage1;
                document.getElementById("errorToastIdForAll").classList.remove('slds-hide');
                document.getElementById("errorToastIdForAll").classList.add('slds-show');
                var myVar = setInterval(myTimer ,7000);
                function myTimer() {
                   closeErrorToastDetail();
                }
            }
         }
         function closeErrorToastDetail(){
            document.getElementById("errorToastIdForAll").classList.remove('slds-show');
            document.getElementById("errorToastIdForAll").classList.add('slds-hide');  
        }
      
    </script>
    
    <body class="slds-scope">
     <!-- Header Start -->
     <div class="slds-page-header">
       <div class="slds-grid">
          <div class="slds-col slds-has-flexi-truncate">
             <div class="slds-media slds-no-space slds-grow">
                <div class="slds-media__figure">
                   <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                      <svg class="slds-icon" aria-hidden="true">
                         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#account" />
                      </svg>
                   </span>
                </div>
                <div class="slds-media__body">
                   <nav>
                      <ol class="slds-breadcrumb slds-line-height_reset">
                         <li class="slds-breadcrumb__item">
                            <span>Account</span>
                         </li>
                      </ol>
                   </nav>
                   <h1 class="slds-page-header__title slds-m-right_small slds-align-middle slds-truncate" title="{!thisAcc.Name}">{!thisAcc.Name}</h1>
                </div>
             </div>
          </div>
          <div class="slds-col slds-no-flex slds-grid slds-align-top">
             <div class="slds-button-group" role="group">
                <!--button class="slds-button slds-button_neutral" onclick="navToEdit();">Edit</button-->
                <button class="slds-button slds-button_neutral" onclick="confirmDeletion();">Delete</button>
             </div>
             <!--button class="slds-button slds-button_neutral" onclick="location.reload();">Tabbed View</button-->
          </div>
       </div>
     </div>  <br/> <!-- Header End -->
     <apex:outputPanel id="accDetailPage">
     <div class="slds-form" role="list">
           <div class="slds-grid slds-wrap slds-grid--pull-padded">
              <div class="slds-p-horizontal--small slds-size--12-of-12 slds-medium-size--12-of-12 slds-large-size--12-of-12">
                 <div class="slds-section slds-is-open slds-p-around--medium" id="Section1Collapse">
                    <!-- Person Account Section Start -->
                    <h3 class="slds-section__title">
                       <button aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action" onclick="sectionHideShow('Section1','Section1Collapse');return false;">
                          <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#switch" />
                          </svg>
                          <span class="slds-truncate" title="Person Account Detail">Person Account Detail</span>
                       </button>
                    </h3>
                    <br/>
                    <div id="Section1">
                       <!-- 1st Row -->
                       <div class="slds-grid slds-wrap slds-grid--pull-padded ">
                          <div class="slds-p-horizontal--small slds-size--4-of-12 slds-medium-size--4-of-12 slds-large-size--4-of-12 ">
                             <div class="slds-has-flexi-truncate slds-p-horizontal_x-small" role="listitem">
                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                   <div><span class="slds-form-element__label">Name</span></div>
                                   <div class="slds-form-element__control slds-grid" >
                                      <span class="slds-form-element__static slds-form-element_separator seprator">
                                         <apex:outputText value="{!thisAcc.Name}"/>
                                      </span>
                                      <!--button class="slds-button slds-button_icon slds-button_icon-small slds-shrink-none inline-edit-trigger slds-button--icon-container" type="button" title="Edit Account Name" onclick="navToEdit();">
                                         <span>
                                            <svg class="slds-button__icon" focusable="false" aria-hidden="true" data-key="edit">
                                               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg?cache=8.2.0#edit"></use>
                                            </svg>
                                         </span>
                                      </button-->
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="slds-p-horizontal--small slds-size--4-of-12 slds-medium-size--4-of-12 slds-large-size--4-of-12 ">
                             <div class="slds-has-flexi-truncate slds-p-horizontal_x-small" role="listitem">
                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                   <div><span class="slds-form-element__label">Email</span></div>
                                   <div class="slds-form-element__control slds-grid">
                                      <span class="slds-form-element__static slds-grow slds-form-element_separator seprator">
                                         <apex:outputField value="{!thisAcc.PersonEmail}"/>
                                      </span>
                                      <!--button class="slds-button slds-button_icon slds-button_icon-small slds-shrink-noneslds-button--icon-container" type="button" title="Email" onclick="navToEdit();">
                                         <span>
                                            <svg class="slds-button__icon " focusable="false" aria-hidden="true" data-key="edit">
                                               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg?cache=8.2.0#edit"></use>
                                            </svg>
                                         </span>
                                      </button-->
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <!-- 2nd Row -->
                       <div class="slds-grid slds-wrap slds-grid--pull-padded ">
                          <div class="slds-p-horizontal--small slds-size--4-of-12 slds-medium-size--4-of-12 slds-large-size--4-of-12 ">
                             <div class="slds-has-flexi-truncate slds-p-horizontal_x-small" role="listitem">
                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                   <div><span class="slds-form-element__label">Phone</span></div>
                                   <div class="slds-form-element__control slds-grid" >
                                      <span class="slds-form-element__static slds-form-element_separator seprator">
                                         <apex:outputField value="{!thisAcc.Phone}"/>
                                      </span>
                                      <!--button class="slds-button slds-button_icon slds-button_icon-small slds-shrink-none inline-edit-trigger slds-button--icon-container" type="button" title="Phone" onclick="navToEdit();">
                                         <span>
                                            <svg class="slds-button__icon" focusable="false" aria-hidden="true" data-key="edit">
                                               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg?cache=8.2.0#edit"></use>
                                            </svg>
                                         </span>
                                      </button-->
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="slds-p-horizontal--small slds-size--4-of-12 slds-medium-size--4-of-12 slds-large-size--4-of-12 ">
                             <div class="slds-has-flexi-truncate slds-p-horizontal_x-small" role="listitem">
                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                   <div><span class="slds-form-element__label">Mobile</span></div>
                                   <div class="slds-form-element__control slds-grid">
                                      <span class="slds-form-element__static slds-grow slds-form-element_separator seprator">
                                         <apex:outputField value="{!thisAcc.PersonMobilePhone}"/>
                                      </span>
                                      <!--button class="slds-button slds-button_icon slds-button_icon-small slds-shrink-noneslds-button--icon-container" type="button" title="Mobile" onclick="navToEdit();">
                                         <span>
                                            <svg class="slds-button__icon " focusable="false" aria-hidden="true" data-key="edit">
                                               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg?cache=8.2.0#edit"></use>
                                            </svg>
                                         </span>
                                      </button-->
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- Person Account Section end-->
                 <div class="slds-section slds-is-open slds-p-around--medium" id="Section3Collapse">
                    <!-- Address Section Start -->
                    <h3 class="slds-section__title">
                       <button aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action" onclick="sectionHideShow('Section3','Section3Collapse');return false;">
                          <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#switch" />
                          </svg>
                          <span class="slds-truncate" title="AddressInformation">Address Information</span>
                       </button>
                    </h3>
                    <br/>
                    <div id="Section3">
                       <div class="slds-grid slds-wrap slds-grid--pull-padded ">
                          <div class="slds-p-horizontal--small slds-size--4-of-12 slds-medium-size--4-of-12 slds-large-size--4-of-12 ">
                             <div class="slds-has-flexi-truncate slds-p-horizontal_x-small" role="listitem">
                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                   <div><span class="slds-form-element__label">Billing Address</span></div>
                                   <div class="slds-form-element__control slds-grid" >
                                      <span class="slds-form-element__static slds-form-element_separator seprator">
                                         <apex:outputField value="{!thisAcc.BillingStreet}"/>
                                         &nbsp;<br />
                                         <apex:outputField value="{!thisAcc.BillingCity}"/>
                                         &nbsp;
                                         <apex:outputField value="{!thisAcc.BillingState}"/>
                                         &nbsp;
                                         <apex:outputField value="{!thisAcc.BillingPostalCode}"/>
                                         &nbsp;<br/>
                                         <apex:outputField value="{!thisAcc.BillingCountry}"/>
                                         <br />
                                         <apex:map zoomLevel="10" width="400px" height="400px" mapType="roadmap" center="{!thisAcc.BillingStreet},{!thisAcc.BillingCity},{!thisAcc.BillingState},{!thisAcc.BillingCountry},{!thisAcc.BillingPostalCode}">
                                            <apex:mapMarker position="{!thisAcc.BillingStreet},{!thisAcc.BillingCity},{!thisAcc.BillingState},{!thisAcc.BillingCountry},{!thisAcc.BillingPostalCode}"/>
                                         </apex:map>
                                         <br/>
                                      </span>
                                      <!--button class="slds-button slds-button_icon slds-button_icon-small slds-shrink-none inline-edit-trigger slds-button--icon-container" type="button" title="Edit Account Name" onclick="navToEdit();">
                                         <span>
                                            <svg class="slds-button__icon" focusable="false" aria-hidden="true" data-key="edit">
                                               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg?cache=8.2.0#edit"></use>
                                            </svg>
                                         </span>
                                      </button-->
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="slds-p-horizontal--small slds-size--4-of-12 slds-medium-size--4-of-12 slds-large-size--4-of-12 ">
                          </div>
                          <div class="slds-p-horizontal--small slds-size--4-of-12 slds-medium-size--4-of-12 slds-large-size--4-of-12 ">
                          </div>
                       </div>
                       <!-- 1st Row -->
                    </div>
                 </div>
                 <div class="slds-section slds-is-open slds-p-around--medium" id="Section4Collapse">
                    <!-- System Information Section Start -->
                    <h3 class="slds-section__title">
                       <button aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action" onclick="sectionHideShow('Section4','Section4Collapse');return false;">
                          <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#switch" />
                          </svg>
                          <span class="slds-truncate" title="SystemInformation">System Information</span>
                       </button>
                    </h3>
                    <br/>
                    <div id="Section4">
                       <div class="slds-grid slds-wrap slds-grid--pull-padded ">
                          <div class="slds-p-horizontal--small slds-size--4-of-12 slds-medium-size--4-of-12 slds-large-size--4-of-12 ">
                             <div class="slds-has-flexi-truncate slds-p-horizontal_x-small" role="listitem">
                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                   <div><span class="slds-form-element__label">Created By</span></div>
                                   <div class="slds-form-element__control slds-grid" >
                                      <span class="slds-form-element__static slds-form-element_separator seprator">
                                         <apex:outputField value="{!thisAcc.createdById}"/>
                                         &nbsp;
                                         <apex:outputField value="{!thisAcc.createdDate}"/>
                                         <br />
                                      </span>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="slds-p-horizontal--small slds-size--4-of-12 slds-medium-size--4-of-12 slds-large-size--4-of-12 ">
                             <div class="slds-has-flexi-truncate slds-p-horizontal_x-small" role="listitem">
                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                   <div><span class="slds-form-element__label">Last Modified By</span></div>
                                   <div class="slds-form-element__control slds-grid" >
                                      <span class="slds-form-element__static slds-form-element_separator seprator">
                                         <apex:outputField value="{!thisAcc.LastModifiedById}"/>
                                         &nbsp;
                                         <apex:outputField value="{!thisAcc.LastModifiedDate}"/>
                                         <br />
                                      </span>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <!-- 1st Row -->
                    </div>
                 </div>
              </div>
           </div>
        </div> 
    </apex:outputPanel>     
    <apex:form >
        <apex:actionFunction name="dRecordAF" action="{!deleteRecord}" oncomplete="closePopup();showErrorToastDetail('{!JSENCODE(errorMsg)}');" reRender="errMsgPanelId">
        </apex:actionFunction>  
        <apex:outputPanel id="errMsgPanelId" style="display: none;">
            <span id="errMsgSpanId" >{!JSENCODE(errorMsg)}</span>
        </apex:outputPanel>
    </apex:form>
     <!--Error Message -->
      <div class="slds-hide slds-notify_container" id="errorToastIdForAll">
        <div class="slds-notify slds-notify_toast slds-theme_error" role="alert">
          <span class="slds-assistive-text">error</span>
          <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#error" />
            </svg>
          </span>
          <div class="slds-notify__content">
            <h2 class="slds-text-heading_small" id="theErrorMessageForAll"></h2>
          </div>
          <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" title="Close" onclick="closeErrorToastDetail();return false;">
            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close" />
            </svg>
            <span class="slds-assistive-text">Close</span>
          </button>
        </div>
      </div>
      <!--End Error Message -->
        <!-- Confirmation modal -->
       <div role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-hide"  id="confirmationPopup">
          <div class="slds-modal__container">
             <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closePopup();">
                   <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close" />
                   </svg>
                   <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Delete Account</h2>
             </header>
             <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                Are you sure you want to delete this Account?
             </div>
             <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick="closePopup();">Cancel</button>
                <button class="slds-button slds-button_brand" onclick="dRecordAF();">Delete</button>
             </footer>
          </div>
       </div>
      <div id="backdrop" class="slds-backdrop slds-backdrop_hide"></div>

    </body>
    </html>
         
</apex:page>