<apex:page standardController="Coverage_Item__c" tabstyle="Account">
    
    <script type="text/javascript">
    window.onload = function(){ 
        /*var Themstr= "{! $User.UIThemeDisplayed }";    
        if(Themstr == "Theme4d")
        {
            window.location = '/c/LeadSearchApp.app?src=Lead&type=lex';
        }
        else
        {
            window.location.href = '/c/LeadSearchApp.app?src=Lead&type=cla';
        } */
        window.location.href = './apex/CoverageItem?id={!Coverage_Item__c.Contractor__c}';
    }
    </script>
    
</apex:page>