<apex:page showHeader="false" applyBodyTag="false" applyHtmlTag="false" sidebar="false" controller="EncompassController">
    <html>
        <body onload="submitMe()">
            <script>
            function submitMe() {
                document.myForm.submit();
                //window.location.href='https://encompass.com/search?searchTerm={!model}'; //need second redirect if already logged in...
                return false;

            }
            </script>
            <form name="myForm" class="login" action="https://encompass.com/account" method="post" novalidate="novalidate">                 
                <input type="hidden" name="action" value="accountLogin"/>
                <input type="hidden" name="template" value="encompass.com"/>
                <input type="hidden" name="originalPageURL" value="search?searchTerm={!model}"/>
                <input type="hidden" id="accountNumber" name="c" value="{!encompassUsername}"/>
                <input type="hidden" id="accountPassword" name="p" value="{!encompassPassword}"/>
                <!--input type="submit" value="Submit request" /-->
                <!--input onClick="window.location.href = 'https://encompass.com/search?searchTerm=123';" type="submit" value="Submit request" /-->
                <!--button class="slds-button slds-button--brand"  type="submit">Submit</button-->
            </form>
        </body>
    </html>
</apex:page>