<apex:page controller="SearsCheckAvailabilityPageController">
    <apex:outputText value="Current API Request Body: {!JsonReqBody}"></apex:outputText>
    <br/>
    <br/>
    <apex:form >
        <apex:commandButton action="{!sendRequest}" value="Send searsCheckAvailability Http Request"/>
    </apex:form>
    <br/>
    <div>
        <apex:outputText value="API Response Body: {!jsonResBody}"></apex:outputText>
    </div>
    <br/>
    <div>
        <apex:outputText value="wrapper class object: {!wrapperObj}"></apex:outputText>
    </div>
    
</apex:page>